*{
    margin: 0px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    height: 4rem;
    color: white;
    margin-bottom: 5px;


}

.left{
    width: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.content{
    display: flex;
    justify-content: space-between;
}

.item{
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
    padding: 20px 10px;
    margin: 5px;
}

#cart{
    background-color: brown;
    padding: 20px;
    width: 200px;
    max-width: 350px;

    color: white;
}

.product-item{
    display: flex;
    flex-direction: column;
    background-color: brown;
    margin: 5px;
    height: 400px;
    width: 350px;
    padding: 15px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.product-image{
    width: 300px;
    
}

.add-to-cart{
    background-color: darkgrey;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
}